@use "./../../common/mixins" as mix;
@use "./../../common/variables" as var;

* {
  box-sizing: border-box;
  margin: 0;
}
.quiz__btn{
  cursor: pointer;
  background: #54d5d5;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz {
  width: 400px;
  background: linear-gradient(to right bottom, rgb(206, 34, 233), rgb(654, 87, 67, 44));
  padding: 20px;
  border-radius: 30px;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.quiz__answer{
  width: 270px;
  cursor: pointer;
  background: #54d5d5;
  border: #1dce49;
  margin: 24px;
  border-radius: 20px;
  padding: 10px;
  font-size: 13px;
  font-weight: 700;
}
